
.classpath
.factorypath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.springframework.ide.eclipse.prefs
src/main/java/META-INF/MANIFEST.MF
src/test/resources/test.http
target/classes/application-dev.properties
target/classes/application.properties
target/classes/it/finanze/sanita/fse2/ms/srvingestion/client/IDataProcessorClient.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/client/impl/DataProcessorClient.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/client/impl/SrvQueryClient.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/client/ISrvQueryClient.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/config/Constants$App.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/config/Constants$ComponentScan.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/config/Constants$Headers.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/config/Constants$Logs.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/config/Constants$Profile.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/config/Constants.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/config/CustomSwaggerCFG.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/config/DataProcessorCFG.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/config/kafka/KafkaProducerCFG.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/config/kafka/KafkaProducerPropertiesCFG.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/config/kafka/KafkaPropertiesCFG.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/config/kafka/KafkaTopicCFG.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/config/mongo/MongoDatabaseCFG.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/config/OpenApiCFG.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/config/SrvQueryCFG.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/config/ValidationCFG.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/controller/AbstractCTL.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/controller/handler/ExceptionCTL.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/controller/IDocumentCTL.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/controller/impl/DocumentCTL.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/controller/impl/LivenessCheckCTL.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/dto/AbstractDTO.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/dto/DocumentReferenceDTO.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/dto/KafkaDataProcessorDTO$KafkaDataProcessorDTOBuilder.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/dto/KafkaDataProcessorDTO.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/dto/KafkaMessageDTO.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/dto/LogDTO$LogDTOBuilder.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/dto/LogDTO.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/dto/response/DocumentExistsResponseDTO.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/dto/response/DocumentResponseDTO.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/dto/response/error/base/ErrorResponseDTO.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/dto/response/error/ErrorBuilderDTO.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/dto/response/error/ErrorInstance$Client.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/dto/response/error/ErrorInstance$Resource.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/dto/response/error/ErrorInstance$Server.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/dto/response/error/ErrorInstance.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/dto/response/error/ErrorType.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/dto/response/LogTraceInfoDTO.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/dto/response/ResourceExistResDTO.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/dto/response/ResponseDTO.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/enums/ErrorLogEnum.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/enums/EventStatusEnum.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/enums/EventTypeEnum.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/enums/ILogEnum.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/enums/OperationLogEnum.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/enums/PriorityTypeEnum.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/enums/ProcessorOperationEnum.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/enums/ResultLogEnum.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/enums/UIDModeEnum.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/exceptions/BusinessException.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/exceptions/ConnectionRefusedException.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/exceptions/DocumentAlreadyExistsException.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/exceptions/DocumentNotFoundException.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/exceptions/EmptyDocumentException.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/exceptions/KafkaException.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/exceptions/OperationException.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/exceptions/UnsupportedOperationException.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/repository/entity/DocumentReferenceETY.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/repository/IDocumentRepo.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/repository/mongo/impl/DocumentRepo.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/service/IDocumentSRV.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/service/IKafkaSRV.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/service/ILogSRV.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/service/impl/DocumentSRV.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/service/impl/KafkaLoggerSRV.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/service/impl/KafkaSRV.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/service/impl/LogSRV.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/service/KafkaAbstractSRV.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/SrvingestionApplication.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/utility/EncryptDecryptUtility.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/utility/JsonUtility.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/utility/ProfileUtility.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/utility/StringUtility.class
target/classes/it/finanze/sanita/fse2/ms/srvingestion/utility/ValidationUtility.class
target/classes/logback-spring.xml
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/it.finanze.sanita.fse2.ms/srvingestion/pom.properties
target/classes/META-INF/maven/it.finanze.sanita.fse2.ms/srvingestion/pom.xml
target/test-classes/application-test.properties
target/test-classes/it/finanze/sanita/fse2/ms/srvingestion/base/AbstractTest.class
target/test-classes/it/finanze/sanita/fse2/ms/srvingestion/ClientTest.class
target/test-classes/it/finanze/sanita/fse2/ms/srvingestion/DocumentControllerTest.class
target/test-classes/it/finanze/sanita/fse2/ms/srvingestion/DocumentRepositoryTest.class
target/test-classes/it/finanze/sanita/fse2/ms/srvingestion/DocumentServiceTest.class
target/test-classes/it/finanze/sanita/fse2/ms/srvingestion/DtoTest.class
target/test-classes/it/finanze/sanita/fse2/ms/srvingestion/EntityDtoTest.class
target/test-classes/it/finanze/sanita/fse2/ms/srvingestion/ExceptionTest.class
target/test-classes/it/finanze/sanita/fse2/ms/srvingestion/JsonUtilityTest.class
target/test-classes/it/finanze/sanita/fse2/ms/srvingestion/KafkaLoggerTest.class
target/test-classes/it/finanze/sanita/fse2/ms/srvingestion/KafkaServiceTest.class
target/test-classes/it/finanze/sanita/fse2/ms/srvingestion/lombok.config
target/test-classes/it/finanze/sanita/fse2/ms/srvingestion/OpenAPICFGTest.class
target/test-classes/it/finanze/sanita/fse2/ms/srvingestion/ResponseDTOTest.class
target/test-classes/it/finanze/sanita/fse2/ms/srvingestion/StringUtilityTest.class
target/test-classes/test.http
